

/*given padding of register form title*/
.container {
  padding: 14px;
}

/*improve design of inputs*/
input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*given border details of line*/
hr {
  border: 1px solid #cecece;
  margin-bottom: 25px;
}


.click {
  background-color: #4e4caf;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.click:hover{
  background-color: rgb(152, 255, 49) ;
  color: black;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}
